/* *,
*::before,
*::after {
    box-sizing: border-box;
}
*/

body {
    background-color: #e9f2fd;
    font-family: 'Ink free', Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    font-weight: bold;
    margin: 0;
    padding: 0;
    text-align: center;
}

h1 {
    text-align: center;
    color: navy;
    font-size: 45px;
    margin-top: 10px;
}

img{
    width: 600px;
    height: 200px;
    margin: 0;
    border-radius: 10%;
}

#gameBoard {
     text-align: center;
}

.game {
    display: flex;
    justify-content: space-around;
}

.playerInfo{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.label1{
    content: "";
    display: inline-block;
    width: 2.5em;
    height: 2.5em;
    border-radius: 50%;
    background: radial-gradient(#ff4747 1.12em, #c00303 1.25em); 
}

.label2{
    content: "";
    display: inline-block;
    width: 2.5em;
    height: 2.5em;
    border-radius: 50%;
    background:radial-gradient(#fff04e 1.12em, #ffc400 1.25em); 
}

#container {
    background-color: rgb(46, 46, 203);
    height: 600px;
    width: 600px; 
    border: 3px solid navy;
    border-radius: 3%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-items: center;
    align-items: center; 
}

.circle {
    background: white;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 3px solid navy;
    margin-right: 12px; 
}

.red {
    background-color: red;
}

.yellow {
    background-color: yellow;
} 

button {
    font-size: 1.5rem;
    background-color: lightblue;
    border: 1px solid navy;
    border-radius: 8px;
    padding: 10px;
    margin: 50px;
}

button:hover {
    background-color: #1e919a;
    color: white;
} 







 #popup {
    position: absolute;
    display: hidden;
    text-align: center;
    top: 100px;
    left: 40%;
    width: 700px;
    height: 550px;
    margin-left: -250px;
    border: 5px solid lightblue;
    border-radius: 10px;
}

.input {
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 1.25em 0.5em;
    border-radius: 6px;
    display: flex;
    justify-content: space-around;
}

.input:focus {
    outline: 3px solid transparent;
} 

 .results {
    color: red;
    margin: 0 auto;
}
#errors{
    color: red;
    font-weight: bold;
    font-size: 15px;
    margin: 0;
}

label {
    font-size: 20px;
    font-weight: bold;
}


/* // End screen style */
 .result-message {
    background: rgba(0, 0, 0, 0.9);
    display: none;
    padding-top: 250px;
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 5rem;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    text-align: center;
} 