body {
    background-color: #e9f2fd;
    font-family: 'Ink free', Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    font-weight: bold;
    margin: 0;
    padding: 0;
    text-align: center;
}

h1 {
    text-align: center;
    color: rgb(133, 72, 41);
    font-size: 45px;
    margin-top: 20px;
    margin-bottom: 10px;
}

img {
    width: 260px;
    height: 150px;
    margin-top: 50px;
    border-radius: 10%;
}

#gameOptions{
    display: flex;
    flex-direction: column;
    justify-items: space-around;
    justify-content: center;
    align-items: center;
    margin-top: 30px;

}

.gameBtn{
margin: 20px;
width: 300px;
}

#gameBoard {
    text-align: center;
}

.game {
    display: flex;
    justify-content: space-around;
}

.playerInfo {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.label1 {
    content: "";
    display: inline-block;
    width: 2.5em;
    height: 2.5em;
    border-radius: 50%;
    background: radial-gradient(rgb(98, 169, 174) 1.12em, rgb(48, 84, 87) 1.25em);
}

.label2 {
    content: "";
    display: inline-block;
    width: 2.5em;
    height: 2.5em;
    border-radius: 50%;
    background: radial-gradient(#fff04e 1.12em, #b5a81e 1.25em);
}

#container {
    background:url(/images/Wooden-Background.webp);
    height: 600px;
    width: 600px;
    border: 3px solid rgb(75, 50, 24);
    border-radius: 3%;
    display: grid;
    grid-template-columns: repeat(7, auto);
    flex-wrap: wrap;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

.circle {
    background: white;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 3px solid rgb(120, 58, 4);
    margin-right: 12px;
}

.yellow {
    background-color: rgb(237, 220, 40);
}

.blue{
    background-color: rgb(98, 169, 174);
}

button {
    font-size: 1.5rem;
    background-color: rgb(163, 208, 222);
    border: 2px solid rgb(22, 137, 203);
    border-radius: 8px;
    padding: 10px;
    margin: 30px;
}

button:hover {
    background-color: #1e919a;
    color: white;
}

.glowing-circle {
    color: rgb(78, 17, 17);
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
}

@keyframes glow {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #b8035d, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }

    to {
        text-shadow: 0 0 20px #fff, 0 0 30px #f51887, 0 0 40px #f1238a, 0 0 50px #fc2e95, 0 0 60px #fb1e8c, 0 0 70px #fc208e, 0 0 80px #ee2489;
    }
}

#popup {
    position: absolute;
    display: hidden;
    text-align: center;
    top: 100px;
    left: 40%;
    width: 600px;
    height: 450px;
    margin-left: -250px;
    border: 5px solid rgb(38, 65, 102);
    border-radius: 10px;
    background-color: #f9fafb;
}

.input {
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 1em 0.5em;
    border-radius: 6px;
    display: flex;
    justify-content: space-around;
}

.input:focus {
    outline: 3px solid transparent;
}

#errors {
    color: red;
    font-weight: bold;
    font-size: 20px;
    margin: 0;
}

label {
    font-size: 20px;
    font-weight: bold;
}

.result-message {
    background: rgba(0, 0, 0, 0.9);
    display: none;
    padding-top: 250px;
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 5rem;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    text-align: center;
}

#container2 {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(3, auto);
    gap: 10px;
    justify-items: center;
    justify-content: center;
    place-items: center;
    height: 300px;
    width: 400px;
}

.cell {
    width: 100px;
    height: 100px;
    border: 1px solid rgb(28, 110, 158);
    border-radius: 10%;
}

.cell:hover {
    border: 2px solid rgb(5, 32, 70);
}

.x {
    background-image: url('/images/1.png');
    background-size: 100% 100%;
}

.o {
    background-image: url('/images/0.png');
    background-size: 100% 100%;
}

.not-allowed {
    cursor: not-allowed;
}

.tictacBtn {
    font-size: 1.5rem;
    padding: 10px;
    margin: 50px;
}